  //colors
  $light-purple: #DBC0E4;
  $mid-purple: #a887b3;
  $purple: #7E4191;
  $gray: #8b8b8b;
  $light-gray: #CCCCCC;
  $lighter-gray: #e9e9e9;
  $magenta: #DE327F;

  //fonts
  $main-font: 350 16px "Rubik", sans-serif;
  $main-font-smaller: 350 14px "Rubik", sans-serif;
  $titles: 600 18px "Montserrat", sans-serif;
  $main-titles: 600 20px "Montserrat", sans-serif;

  //measurements
  $border-radius: 20px;
  $button-padding: 5px 10px;
  $padding-main: 20px 30px;