
 @import "./variables";

 * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  z-index: 1;
}

@import "./AddBtn.scss";
@import "./Artist.scss";
@import "./Filters.scss";
@import "./Header.scss";
@import "./List.scss";
@import "./Loader.scss";
@import "./Main.scss";
@import "./Modal.scss";
@import "./Song.scss";
@import "./SongDetail.scss";
@import "./ArtistDetail.scss";
@import "./Form.scss";
@import "./button.scss";
@import "./UserProfile.scss";
@import "./Logo.scss";
@import "./Sidebar.scss";
@import "./NotFound.scss";
@import "./Footer.scss";

:root {
  font: $main-font;
  
}

body {
  overflow-x: hidden;
}

 a {
  text-decoration: none;
  color: inherit;
 }

 textarea {
  font: $main-font;
  font-size: 14px;
 }

 input {
  font: $main-font;
  font-size: 14px;
  
 }

 .page{
   width: 100vw;
   min-height: 100vh;
   position: relative;
   background-color: white;

   &__main {
    @media (width > 1024px) {
      display: grid;
      grid-template-columns: 30vw 70vw;
      grid-template-rows: 20vh 1fr;
    }
      
   }
 }

 .purple-circle {
  z-index: 0;
  position: fixed;
  width: 600px;
  height: 600px;
  background-color: $light-purple;
  bottom: -45%;
  left: -60%;
  border-radius: 100%;

  @media (width > 600px) {
    width: 700px;
    left: -40%;
  }

  @media (width > 1024px) {
    display: none;
  }
 }

 .input {
  border-radius: 5px;
  min-width: 100%;
  padding: 5px;
  border: none;
  background-color: $light-purple;
 }

 .hidden {
   display: none;
 }


