@import "./variables";

.card-text {
    max-width: 150px;
}

.artist-card{
    position: relative;
    max-width: 100%;
    height: auto;
    border: 2px solid $light-gray;
    background-color: white;
    box-shadow: 2px 2px 0px $light-gray;
    padding: 10px 20px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    gap: 3px;
    word-wrap: break-word;

    &__music {
        display: none;
        @media (width > 1024px) {
            display: inline-block;
            position: absolute;
            right: 10px;
            top: -5px;
            color: $purple;
        }
    }

    @media (width > 1024px) {
        padding: 20px;
        width: 300px;
        height: 150px;

        &:hover {
            cursor: pointer;
            .artist-card__music {
                animation: bounce 0.5s forwards;
            }
        }
    }

    &__title {
        font: $titles;
        text-align: right;
    }

    &__img {
        width: 80px;
        height: 80px;
        border-radius: 10px;
        box-shadow: 2px 2px 2px $light-gray;
        object-fit: cover;
        object-position: top center;
    }
}

@keyframes bounce {
    0% {transform: translateY(0px)}
    30% {transform: translateY(-20px)}
    100% {transform: translateY(0px)}
}

