@import "./_variables.scss";

.filters-box{
    width: 100%;
    text-align: left;
    order: 1;
}

.filters-text{
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 2px;
}

.filters{
    font: $main-font-smaller;
    min-width: 100%;
    padding-top: 5px;
    display: flex;
    flex-direction: column;
    align-items: left;
    gap: 5px;
    overflow: hidden;
    height: 0px;
    transition: all 1s;
}

.filter-icon{
    display: flex;
    width: 10px;
    height: 10px;
    align-items: center;
    cursor: pointer;
    color: $purple;
}

.filters-checkbox {
    display: none;

    &:checked + .filters {
        height: 180px;
    }

    &:checked + .filters-artist{
        height: 70px;
    }

}

.filter-arrow-up {
    transform: rotate(270deg);
    transition: all 0.5s ease;
}

.filter-arrow-down {
    transition: all 0.5s ease;
    transform: rotate(360deg);
}





