@import "./variables";

.header{
    min-height: 15%;
    padding: 20px 30px;
    display: flex;
    justify-content: space-between;

    @media (width > 1024px){
      justify-content: right;
      padding-right: 23%;
      padding-top: 50px;
    }
  }
 
  .profile-icon{
    z-index: 24;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    position: relative;

    @media (width > 1024px){
      display: none;
    }

    img {
      width: 30px;
      height: 30px;
      border-radius: 100%;
    }
  }

  .profile-icon-desktop{
     z-index: 24;
     width: 40px;
     height: 40px;
     border-radius: 100%;
     position: relative;
     cursor: pointer;
 
     img {
       width: 40px;
       height: 40px;
       border-radius: 100%;
     }
   }

  .profile-icon-logged {
    z-index: 24;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    position: relative;
    cursor: pointer;
    img {
      width: 30px;
      height: 30px;
      border-radius: 100%;
    }
  }

  .profile-icon-logged-desktop {
    z-index: 24;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    position: relative;
    img {
      width: 40px;
      height: 40px;
      border-radius: 100%;
    }
  }



 .login-menu__box {
    z-index: 23;
    width: 100%;
    position: absolute;
    overflow: hidden;
    background-color: $light-purple;
    padding: 20px;
    padding-top: 70px;
    transform: translateY(-100%)
 }
 
  .slide-in {
    animation: slide-in 0.5s forwards;
  }
 
  .slide-out {
    animation: slide-out 0.5s forwards;
  }
 
  @keyframes slide-in {
    0% {transform: translateY(-100%)}
    100% {transform: translateY(0)}
  }
 
  @keyframes slide-out {
    0% {transform: translateY(0)}
    100% {transform: translateY(-100%)}
  }

  .signup-btn-box{
    padding-top: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 20px;
    
  }

  .logo-container {
    @media (width > 1024px){
      display: none;
    }
  }

  .login-signup-container {
    display: none;
    @media (width > 1024px){
      display: block;
      position: relative;
      transform: translateY(-10px);
    }
  }

  .login-signup-box {
    display: none;
    @media (width > 1024px){
      display: block;
      z-index: 25;
      background-color: white;
      padding-left: 20px;
      padding-right: 20px;
      width: 240px;
      position: absolute;
      top: 130px;
      right: 200px;
      height: 0;
      overflow: hidden;
    }
  }


  .login-desktop-slidein {
    animation: login-desktop-slidein 0.5s forwards;
  }

  .login-desktop-slideout {
    animation: login-desktop-slideout 0.5s forwards;
  }

  @keyframes login-desktop-slidein {
    0% {height: 0px}
    100% {height: 150px}
  }

  @keyframes login-desktop-slideout {
    0% {height: 200px}
    100% {height: 0px}
  }

  .login-menu {
    @media (width > 1024px) {
      display: none;
    }
  }

  .header-decoration {
    display: none;
    @media (width > 1024px) {
      display: flex;
      align-items: flex-end;
      z-index: 20;
      position: absolute;
      width: 100vw;
      height: 15vh;
    }

  }

  .header-line {
    display: none;
    @media (width > 1024px) {
      display: block;
      z-index: 20;
      width: 100%;
      height: 0.35vh;
      background-color: black;
    }

  }

  .header-wave {
    display: none;
    
    @media (width > 1024px) {
      display: block;
      z-index: 21;
      position: absolute;
      top: 34.5%;
      left: 17vw;
      width: 12vw;
      height: 18vh;
      background-image: url("../images/wave.png");
      background-color: $light-purple;
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
    }

    @media (width > 1200px) {
      top: 34%;
    }

    @media (width > 1380px) {
      top: 31.5%;
    }

    @media (height < 794px) {
      width: 10vw;
    }
    @media (height < 659px) {
      width: 8vw;
    }
  }

  .header-decoration {
    display: none;
    @media (width > 1024px) {
      display: flex;
      align-items: flex-end;
      z-index: 20;
      position: absolute;
      width: 100vw;
      height: 15vh;
    }

  }

  .header-line {
    display: none;
    @media (width > 1024px) {
      display: block;
      position: absolute;
      z-index: 20;
      top: 15vh;
      width: 100vw;
      height: 0.3vh;
      background-color: black;
    }

    @media (width > 1200px) {
      height: 0.4vh;
    }

  }

  .header-wave {
    display: none;
    
    @media (width > 1024px) {
      display: block;
      z-index: 21;
      position: absolute;
      top: 5.4vh;
      left: 17vw;
      width: 12vw;
      height: 18vh;
      background-image: url("../images/wave.png");
      background-color: $light-purple;
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
    }

    @media (width > 1200px) {
      top: 5.5vh;
    }

    @media (width > 1380px) {
      top: 5.3vh;
    }

    @media (width > 1500px) {
      top: 5.2vh;
    }

    @media (width > 1600px) {
      top: 5vh;
    }

    @media (height < 794px) {
      width: 10vw;
    }
    @media (height < 659px) {
      width: 8vw;
    }
  }

  .login-desktop {
    position: relative;

    .error-msg {
      z-index: 20;
      position: absolute;
      top: 90px;
      font-size: 14px;
    }
  }
