@import "./variables";

.header{
    min-height: 15%;
    padding: 20px 30px;
    display: flex;
    justify-content: space-between;
  }
 
  .profile-icon{
   z-index: 14;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    background-color: blue;
    position: relative;
  }

  .profile-icon-logged {
    z-index: 14;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    background-color: rgb(226, 43, 156);
    position: relative;
  }

 .login-menu__box {
    z-index: 10;
    min-width: 80%;
    position: absolute;
    overflow: hidden;
    background-color: $light-purple;
    padding: 20px;
    padding-top: 70px;
    transform: translateY(-100%)
 }
 
  .slide-in {
    animation: slide-in 0.5s forwards;
  }
 
  .slide-out {
    animation: slide-out 0.5s forwards;
  }
 
  @keyframes slide-in {
    0% {transform: translateY(-100%)}
    100% {transform: translateY(0)}
  }
 
  @keyframes slide-out {
    0% {transform: translateY(0)}
    100% {transform: translateY(-100%)}
  }

  .signup-btn-box{
    padding-top: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 20px;
  }