@import "./variables";

.logo{
    position: relative;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 20px;
    max-width: 60px;

    &__song {
        font-size: 18px;
        font-weight: 630;
    }

    &__music {
        color: $purple;
        position: absolute;
        top: 8px;
        right: -7px;
        font-size: 18px;
        @media (width > 1024px) {
            color: white;
        }
    }
}
