@import "./_variables.scss";

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 30px;
   }
  
  .switch{
    border: 2px solid $purple;
    background-color: white;
    padding: $button-padding;
    border-radius: $border-radius;
    display: flex;
    gap: 20px;
    justify-content: space-between;
    color: $gray;
  
    &__radio{
      position: relative;
      display: none;
      
        
      &:checked + .switch__label{
        color: $purple;
        &::before{
          content: '';
          position: absolute;
          width: 60px;
          transform: translateX(-5px);
          height: 20px;
          border-radius:20px;
          background: $light-purple;
          transition: all 0.3s;
        }
      }
    }
  
    &__label{
      cursor: pointer;
      &--text {
        position: relative;
        z-index: 2;
      }
      
    }
  }



