@import "./_variables.scss";

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: $padding-main;

    @media (width > 1024px) {
      padding: 20px 200px 20px 100px;
      align-items: flex-start;
    }
   }
  
  .switch{
    border: 2px solid $light-gray;
    background-color: $lighter-gray;
    box-shadow: 2px 2px 0px $light-gray;
    padding: $button-padding;
    border-radius: $border-radius;
    display: flex;
    gap: 20px;
    justify-content: space-between;
    color: $gray;

    @media (width > 1024px){
      margin-bottom: 40px;
      
    }
  
    &__radio{
      position: relative;
      display: none;
      
        
      &:checked + .switch__label{
        color: $purple;
        font-weight: 400;
        &::before{
          content: '';
          position: absolute;
          width: 60px;
          transform: translateX(-5px);
          height: 20px;
          border-radius:20px;
          background: $light-purple;
          transition: all 0.3s;
        }
      }
    }
  
    &__label{
      cursor: pointer;
      &--text {
        position: relative;
        z-index: 2;
      }
      
    }
  }



