@import "./variables";

.card-container{
    position: relative;
    
}

.song-card{
    max-width: 100%;
    height: auto;
    border: 2px solid $light-gray;
    background-color: white;
    box-shadow: 2px 2px 0px $light-gray;
    padding: 10px 20px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    gap: 3px;

    &__music {
        display: none;
        @media (width > 1024px) {
            display: inline-block;
            position: absolute;
            right: 10px;
            top: -5px;
            color: $purple;
        }
    }

    @media (width > 1024px) {
        padding: 30px;
        width: 300px;
        height: 150px;

        &:hover {
            cursor: pointer;
            .song-card__music {
                animation: bounce 0.5s forwards;
            }
        }
    }
    
    

    &__text {
        max-width: 150px;
        word-wrap: break-word;

        &--title {
            font: $titles;
            padding-bottom: 3px;
        }

        &--artist {
            font-weight: 200;
            padding-bottom: 20px;
        }
    }

    &__img {
        width: 80px;
        height: 80px;
        border-radius: 10px;
        box-shadow: 2px 2px 2px $light-gray;
        object-fit: cover;
        object-position: top center;
    }
}

.url {
    z-index: 4;
    position: absolute;
    bottom: 10px;
    left: 23px;

    &:hover {
        color: $light-purple;
    }
}